# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtualenv
venv/
.env
*.env

# Django / DB
*.sqlite3
*.db
*.log

# IDE
.vscode/
.idea/

# Archives
*.zip
*.tar
*.gz

# Static/media if генерирани
staticfiles/
media/
